<%= form_with url: blogs_path, method: :get, class: "d-flex container" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search..."
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>




<div class="container">
  <h1>Blog Posts</h1>
  <br>
  <div class="d-flex justify-content-between">
    <%= link_to "Write Blog Post", new_blog_path %>
    <div class="search">
      <input placeholder="Search Blog Posts..." type="text">
      <button>Search</button>
    </div>
  </div>
  <hr>

  <% @blogs.each do |blog| %>
    <div class="card">
      <h2><%= link_to blog.title, blog_path(blog) %></h2>
      <p><%= blog.created_at %></p>
    </div>
    <br>
  <% end %>

</div>
