<div class="container mt-4">
  <p><%= link_to "Write Blog Post", new_blog_path %></p>

  <%= form_with url: blogs_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search..." %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>

</div>

<main id ="blog-index" class="mt-4">
  <aside>
    <h1>BLOG</h1>
  </aside>

  <section>

    <% @blogs.each do |blog| %>
      <%= link_to blog_path(blog) do %>
        <div class="blog-cards">
            <div class="blog-header"
              style="height: 250px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path blog.image.key %>')">

              <h4><%= blog.title %></h2>
              <p><%= blog.created_at.strftime("%d %B, %Y") %></p>

            </div>
        <% end %>
      </div>
    <% end %>

  </section>
</main>
