  <div class="blog-header"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @blog.image.key %>')">
                          <h1><%= @blog.title %></h1>
  </div>

  <% if current_user.admin %>
    <div class="container" style="position:fixed;bottom:0;width: 100%;text-align:right">
      <%= link_to "Edit Post", edit_blog_path(@blog), class: "btn btn-success" %>
      <%= link_to "Delete", @blog, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
  <% end %>

  <div class="container">

  <%= raw @blog.content %>
  <div class="container mb-5">
    <h3>Read My Other Posts</h3>
    <ul>
      <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog_path(blog) %></li>
      <% end %>
    </ul>
  </div>
</div>
