  <div class="blog-header"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @blog.image.key %>')">
                          <h1><%= @blog.title %></h1>
  </div>

  <div class="container" style="position:fixed;top:0">
    <%= link_to "Blog Posts", blogs_path %>
    <%= link_to "Edit Post", edit_blog_path(@blog) %>
  </div>

  <div class="container">

  <%= raw @blog.content %>
  <div class="container">
    <h3>Read My Other Posts</h3>
    <ul>
      <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog_path(blog) %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <%= link_to "Delete", @blog, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
