<div id="landing-container" data-controller="navigate" data-navigate-target="container">
  <main id="landing">

    <section id="ink">
      <img src="../../assets/ink.png" alt="ink">
    </section>

    <section id="welcome">

      <h1>Tom <span>Brookes</span></h1>
      <h3>Full Stack Developer</h3>
      <p>I am constantly building, learning and developing my skills.</p>
      <p>Take a look at my work, or browse my blog.</p>

    </section>

    <section id="links">

      <div>
        <h2><%= link_to "WORK", projects_path %></h2>
        <h2><%= link_to "BLOG", blogs_path %></h2>
        <h2><%= link_to "CONTACT", new_contact_path %></h2>
      </div>

    </section>

    <section id="recent">

      <h5>Latest Blog Post:</h5>
        <%= link_to @blogs.last.title, blog_path(@blogs.last) %>
      <br><br>
      <h5>Recent Project:</h5>
        <%= link_to @projects.last.name, project_path(@projects.last) %>

    </section>

  </main>
</div>
