<div id="landing-container" data-controller="navigate" data-navigate-target="container">
  <main id="landing">

    <section id="ink">
      <%= image_tag asset_path("ink.png"), alt: "ink splat" %>
    </section>

    <section id="welcome">

      <h1>Tom <span>Brookes</span></h1>
      <h5>Full Stack Developer</h5>
      <p>I am constantly building, learning and developing my skills.</p>
      <p>Take a look at my work, or browse my blog.</p>

    </section>

    <section id="home-links">

      <div>
        <h2><%= link_to "WORK", projects_path %></h2>
        <h2><%= link_to "BLOG", blogs_path %></h2>
        <h2><%= link_to "CONTACT", new_contact_path %></h2>
      </div>

    </section>

    <section id="recent">

      <h5>Latest Blog Post:</h5>
        <%= link_to @latest_blog.title, blog_path(@latest_blog) %>
      <br><br>
      <h5>Recent Project:</h5>
        <%= link_to @latest_project.name, project_path(@latest_project) %>

    </section>

  </main>
</div>

<% if current_user %>
 <div data-controller="modal" style="position:fixed;bottom:6px;right:12px;text-align:right">
    <span id="modal-open" data-modal-target="open" data-action="click->modal#open">
      <i class="bi bi-person-fill-exclamation"></i>
    </span>

  <div class="modal" data-modal-target="modal" style="position:fixed;top:0">
    <div class="modal-container">
      <div class="modal-title">
        <h4>Admin Options</h4>
        <span id="modal-close" data-modal-target="close" data-action="click->modal#close">
          <i class="bi bi-x-circle-fill"></i>
        </span>
      </div>
      <div class="modal-actions">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
<% end %>
