<main id="projects" data-controller="counter">

  <div class="projects-header mt-3" style="display:none">
    <h1 class="m-2">Tom Brookes</h1>
  </div>

  <div id="work">
    <h1>WORK</h1>
  </div>

  <div id="square">

    <% @projects.each_with_index do |project, index| %>

      <div class="project-cards" data-index="<%= index %>">


        <h4><%= project.name %></h4>

        <% if cl_image_tag project.cover_image.key %>
          <%= link_to project_path(project) do %>
            <%= cl_image_tag project.cover_image.key %>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <% (9 - @projects.size).times do %>
      <div class="project-cards" style="text-align:center" content="filler">
        <p>Still Developing</p>
      </div>
    <% end %>

  </div>

  <div class="counter">
    <p>
      <span class="project-counter">1</span>/<span><%= @projects.length %></span>
    </p>
  </div>

  <div class="projects-index">
    <h6>My Projects</h6>

    <% @projects.each_with_index do |project, index| %>
      <%= link_to project_path(project) do %>

        <div>
          <p>+ <%= project.name %></p>
        </div>

      <% end %>
    <% end %>
  </div>

</main>

  <div class="project-counter bg-num">
    1
  </div>

<% if current_user %>
 <div data-controller="modal" style="position:fixed;bottom:6px;right:12px;text-align:right">
    <span id="modal-open" data-modal-target="open" data-action="click->modal#open">
      <i class="bi bi-person-fill-exclamation"></i>
    </span>

  <div class="modal" data-modal-target="modal" style="position:fixed;top:0">
    <div class="modal-container">
      <div class="modal-title">
        <h4>Admin Options</h4>
        <span id="modal-close" data-modal-target="close" data-action="click->modal#close">
          <i class="bi bi-x-circle-fill"></i>
        </span>
      </div>
      <div class="modal-actions">
        <%= link_to "Add", new_project_path(@project), class: "btn btn-primary" %>
        <%= link_to "Drafts", drafts_projects_path, class: "btn btn-success" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-dark" %>

      </div>
    </div>
  </div>
<% end %>
