<div class="mt-3">

  <div class="d-flex justify-content-between container mt-2">
    <h1>Projects</h1>
    <p><%= link_to "New Project", new_project_path %></p>
  </div>

  <%# When you press a key have typewriter sound %>
  <%= form_with url: projects_path, method: :get, class: "d-flex container" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search..."
  %>
  <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>

      <div class="row d-flex justify-content-center mt-5">

      <% @projects.each_with_index do |project, index| %>

        <article class="project-card col-md-4 col-sm-6 col-xs-12" style="background:url('<%= cl_image_path project.image.key %>') center/cover no-repeat">
          <div class="border">

            <div class="content">
              <h2><%= link_to project.name, project_path(project) %></h2>
            </div>

          </div>
        </article>

      <% end %>

  </div>

</div>
