<main id="projects" data-controller="counter">

  <div class="projects-header mt-3" style="display:none">
    <h1 class="m-2">Tom Brookes</h1>
  </div>

  <div id="work">
    <h1>WORK</h1>
  </div>

  <div id="square" data-counter-target="index" data-action="scroll->counter#update">

    <% @projects.each_with_index do |project, index| %>

      <div class="project-cards">

        <h4><%= project.name %></h4>

        <% if cl_image_tag project.cover_image.key %>
          <%= link_to project_path(project) do %>
            <%= cl_image_tag project.cover_image.key %>
          <% end %>
        <% end %>
      </div>

    <% end %>

    <% (9 - @projects.size).times do %>
      <div class="project-cards" style="text-align:center" content="filler">
        <p>Still Developing</p>
      </div>
    <% end %>

  </div>

  <div class="counter" style="display:none">
    <p>
      <span data-counter-target="counter">1</span>/
      <span data-counter-target="size"><%= @projects.length %></span>
    </p>
  </div>

  <div class="projects-index">
    <h6>My Projects</h6>

    <% @projects.each_with_index do |project, index| %>
      <%= link_to project_path(project) do %>

        <div>
          <p>+ <%= project.name %></p>
        </div>

      <% end %>
    <% end %>
  </div>

</main>
