<div id="project-show">
  <main id="project-container">
    <section id="project-title" style="background-color:<%= @project.color_theme %>">
      <h1><%= @project.name.upcase %></h1>
      <p><%= @project.caption %></p>
    </section>

    <section id="project-description">
      <h3>PROJECT</h3>
      <p><%= @project.content %></p>

      <h4>Built with...</h3>
      <ul>
        <% @project.skills.each do |skill| %>
          <li><%= skill %></li>
        <% end %>
      </ul>
    </section>

    <section id="images" class="d-flex flex-column">
      <% @project.images.each do |image| %>
        <%= cl_image_tag image.key %>
      <% end %>
    </section>

    <section id="projects-list" style="background:<%= @project.color_theme %>">
      <h4>More Projects</h3>
      <ul>
        <% @projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>
      </ul>
    </section>



  </main>
</div>

<div class="links">
  <a href="<%= @project.github %>"><i class="bi bi-github"></i></a>
  <a href="<%= @project.blog %>"><i class="bi bi-eyeglasses"></i></a>
  <a href="<%= @project.url %>"><i class="bi bi-at"></i></a>
</div>

<div class="container" style="display:none;position:fixed;top:0">
  <%= link_to "All Projects", projects_path %>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete", @project, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
