<div class="container">
  <h1><%= @project.name %></h1>
  <%= link_to "All Projects", projects_path %>
  <%= link_to "Edit", edit_project_path(@project) %>
  <br>
  <br>
    <div class="row">
      <div class="col-md-8">

        <%= cl_image_tag @project.images.first.key, height: 300, width: 400, crop: :fill %>
        <hr>
        <p><%= @project.caption %></p>
        <hr>
        <p><%= @project.content %></p>

      </div>

      <div class="col-md-4">

        <div class="card container">
          <a href="<%= @project.github %>">GitHub</a>
          <a href="<%= @project.blog %>">Blog</a>
          <a href="<%= @project.url %>">Project Url</a>
          <h4>Built with...</h3>
          <ul>
            <% @project.skills.each do |skill| %>
              <li><%= skill %></li>
            <% end %>
          </ul>
        </div>
        <br>
        <div class="card container">
          <h4>Other Projects</h3>
          <ul>
            <% @projects.each do |project| %>
              <li><%= link_to project.name, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <%= link_to "Delete", @project, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
